# Binance Futures Testnet API credentials
BINANCE_API_KEY=zrn6tHtr8hpPx9TFiOQqsporoRBDQkVRu6Ct4pFmonD8XyJuuwJuUyZF010g92ij
BINANCE_API_SECRET=ROYAr1eCYqtSVmnHqwqXeCSTjdHA4I0H8fuER8rNx61i4z1nsIiIBZvABAvJLqEj
